.loginPage{
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .loginTitle{
    text-align: center;
    margin-bottom: 20px;
    }
    .loginInput{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    .loginButton{
    display: block;
    cursor: pointer;
    }
    
}