.tracks{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    .track{
        width: 48%;
        margin: 0 10px 20px;
        background-color: red;
        .track__image{
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
        .track__name{
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        }
        .track__artist{
        margin-top: 5px;
        font-size: 14px;
        color: #999;
        }
    }
}