@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Raleway&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover{
  background-color: #3e8e41;
}
@media (prefers-color-scheme: normal) {
  html {
    color-scheme: white dark;
  }
  body {
    color: white;
  }
}
